body {
  background-color: #EEEEEE;
}

div { 
margin: 20px;
}

.bubble {
  background-color: white;
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%
}
.thought-bubble {
  width: 40%;
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  background-color: #BED9F2; 
}

.thought-bubble:before {
  content: "";
  position: absolute;  
  left: 18px;
  bottom: -15px;
  border-color: black transparent;
  border-style: solid;
  border-width: 15px 15px 0px 0px;
  display: block;
  width: 0;
  z-index: 0;
}

.thought-bubble:after {
  content: "";
  position: absolute;  
  left: 20px;
  bottom: -10px;
  border-color:#BED9F2;
  border-style: solid;
  border-width: 10px 10px 0 0;
  display: block;
  width: 0;
}

/********************************/


.triangle {
  border: 2px solid black;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.triangle-bottom:before {
  content: "";
  position: absolute;  
  left: 18px;
  bottom: -15px;
  border-color: black transparent;
  border-style: solid;
  border-width: 15px 15px 0px 15px;
  display: block;  
}

.triangle-bottom:after {
  content: "";
  position: absolute;  
  left: 21px;
  bottom: -12px;
  border-color: white transparent;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  display: block;
  width: 0;
}


.triangle-left:before {
  content: "";
  position: absolute;  
  left: -16px;
  bottom: 8px;
  border-color: transparent black;
  border-style: solid;
  border-width: 16px 16px 0px 0px;
  display: block;  
}

.triangle-left:after {
  content: "";
  position: absolute;  
  left: -12px;
  bottom: 10px;
  border-color: transparent white;
  border-style: solid;
  border-width: 12px 12px 0px 0px;
  display: block;
  width: 0;
}

.from-them {
	position:relative;
  margin: 20px auto;
  width: 50%;
	padding:10px 20px;
	background:white;
	border-radius:25px;
	color: black;
  
		
	&:before {
		content:"";
		position:absolute;
		z-index:2;
		bottom:-2px;
		left:-7px;
		height:20px;
		border-left:20px solid white;
		border-bottom-right-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}

	&:after {
		content:"";
		position:absolute;
		z-index:3;
		bottom:-2px;
		left:4px;
		width:26px;
		height:20px;
		background:#EEEEEE;
		border-bottom-right-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}
}

/********************************/

/** ios1-ios6 bubbles **/
.ios6-bubble {
  box-sizing: border-box;  
  max-width: 50%;
  margin: 20px auto;
  position: relative;   
  background: white;
  border: solid 1px black;
  border-radius: 20px; 
  margin-bottom: 20px;
  padding: 6px 20px;  
}

.ios6-bubble:before, .ios6-bubble:after {  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 12px;
  content: '';
  display: block;
  position: absolute;
}
.ios6-bubble:before {
  border: 10px solid transparent;
  border-bottom-color: black;
  bottom: 0px;
  left: -7px;
  z-index: -2;
}
.ios6-bubble:after {
  border: 8px solid transparent;
  border-bottom-color: white; /* arrow color */
  bottom: 1px;
  left: -5px;
}


/* end of input css */

/* Chat  input */
body {
	background-color: #f1f1f1;
	font-family: Helvetica,Arial,Verdana;

}
h1 {
	color: green;
	text-align: center;
}
.redfamily {
	color: red;	
}
.search-box,.close-icon,.search-wrapper {
	position: relative;
	padding: 10px;
}
.search-wrapper {
	width: 500px;
	margin: auto;
	margin-top: 50px;
}
.search-box {
	width: 80%;
	border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.search-box:focus {
	box-shadow: 0 0 15px 5px #b0e0ee;
	border: 2px solid #bebede;
}
.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  outline: 0;
  cursor: pointer;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}

/*    title  */
.element--dashed {
  border-style: solid;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.titleText {
    font-weight: normal;
    text-align: center; 
    letter-spacing:2px;
    text-shadow:1px 0 0 currentColor,2px 0 0 currentColor;
  
}
